.rui-helptext-container{
  display: inline-block;
  margin-left: 5px;
}
.rui-helptext-icon{
  color: $green;
  position: relative;
}
.rui-helptext-icon:hover{
  cursor: pointer;
}
.rui-tooltip.rui-helptext-tooltip {
  left: calc(-31px + 50%);
}
